In [1]:
import \
    random

import pandas as pd
from base.dataset import DataSet
from base.plotting import plot_long_tail
from models.baseline_model import BaselineRecommender

In [ ]:
import os
os.chdir('..')

In [ ]:
dataset = DataSet.from_pickle(dataset_size='full')

In [4]:
import pickle
from models.word2vec_model import Word2VecRecommender
with open('/Users/josean/Desktop/Playground/recommender-systems/data/models/word2vec.pickle','rb') as file:
    model: Word2VecRecommender = pickle.load(file)

In [6]:
dataset: DataSet = model.dataset

In [ ]:
model.evaluate_performance()

In [11]:
model.evaluate_accuracy(10,n_runs=100)

100%|██████████| 100/100 [00:04<00:00, 21.47it/s]

------------------------------------
Word2Vec SG session-based Recommender - Validation statistics
------------------------------------
+------------+---------+--------+---------+--------+
|   Metric   | Average | Median | Highest | Lowest |
+------------+---------+--------+---------+--------+
|   MAP@10   |  0.0251 | 0.0000 |  0.5000 | 0.0000 |
|    R@10    |  0.0811 | 0.0000 |  1.0000 | 0.0000 |
|    P@10    |  2.00%  | 0.00%  |  20.00% | 0.00%  |
|   HR@10    |  16.00% | 0.00%  | 100.00% | 0.00%  |
|  Rank@10   |  5.0000 | 5.0000 |  9.0000 | 1.0000 |
| RecRank@10 |  0.0533 | 0.0000 |  1.0000 | 0.0000 |
+------------+---------+--------+---------+--------+
------------------------------------
Word2Vec SG session-based Recommender - Full statistics
------------------------------------
+------------+---------+---------+---------+--------+
|   Metric   | Average |  Median | Highest | Lowest |
+------------+---------+---------+---------+--------+
|   MAP@10   |  0.0475 |  0.0143 |  0.4444 | 0.0000 |
|    R@10    |  0.0798 |  0.0590 |  0.5000 | 0.0000 |
|    P@10    |  9.10%  |  10.00% |  50.00% | 0.00%  |
|   HR@10    |  56.00% | 100.00% | 100.00% | 0.00%  |
|  Rank@10   |  3.6964 |  3.0000 | 10.0000 | 1.0000 |
| RecRank@10 |  0.2660 |  0.1339 |  1.0000 | 0.0000 |
+------------+---------+---------+---------+--------+

In [14]:
user = dataset.get_random_user().name
product = dataset.get_random_product_from_user(user)
print(user,product)
dataset.products.loc[dataset.users.loc[user,'relevant_items']]

U-531575010 P-3700683

,category_id,category_code,brand,price,category_code_L1,category_code_L2,category_code_L3,category_code_L4
product_id,,,,,,,,
P-1004361,2053013555631882655,electronics.smartphone,apple,1449.20,electronics,smartphone,None,None
P-1002524,2053013555631882655,electronics.smartphone,apple,584.31,electronics,smartphone,None,None
P-2900958,2053013554776244595,appliances.kitchen.microwave,arg,61.75,appliances,kitchen,microwave,None
P-28716499,2053013565782098913,apparel.shoes,respect,154.19,apparel,shoes,None,None
P-1004227,2053013555631882655,electronics.smartphone,apple,1157.56,electronics,smartphone,None,None
P-1004767,2053013555631882655,electronics.smartphone,samsung,277.97,electronics,smartphone,None,None
P-3700621,2053013565983425517,appliances.environment.vacuum,vitek,120.96,appliances,environment,vacuum,None
P-3701134,2053013565983425517,appliances.environment.vacuum,bosch,115.81,appliances,environment,vacuum,None
P-3701088,2053013565983425517,appliances.environment.vacuum,bosch,105.51,appliances,environment,vacuum,None
P-3701136,2053013565983425517,appliances.environment.vacuum,hoover,98.56,appliances,environment,vacuum,None
P-3700683,2053013565983425517,appliances.environment.vacuum,tefal,162.14,appliances,environment,vacuum,None
P-1004858,2053013555631882655,electronics.smartphone,samsung,136.17,electronics,smartphone,None,None

In [15]:
results, model_info = model.recommend(user,product)
model_info

,brand,price,category_code_L1,category_code_L2,category_code_L3,category_code_L4
product_id,,,,,,
P-3700677,tefal,175.01,appliances,environment,vacuum,None
P-3700777,samsung,236.56,appliances,environment,vacuum,None
P-3700127,lg,227.02,appliances,environment,vacuum,None
P-3701164,bosch,110.10,appliances,environment,vacuum,None
P-3700991,tefal,167.06,appliances,environment,vacuum,None
P-3700829,samsung,143.89,appliances,environment,vacuum,None
P-3700709,karcher,121.24,appliances,environment,vacuum,None
P-3701088,bosch,105.51,appliances,environment,vacuum,None
P-3700039,lg,192.85,appliances,environment,vacuum,None
P-3700245,philips,123.53,appliances,environment,vacuum,None

In [18]:
import pickle
with open('/Users/josean/Desktop/Playground/recommender-systems/data/aux/sessions.pickle','wb') as file:
    pickle.dump(model.sessions,file)

In [26]:
test_dataset: pd.DataFrame = dataset.all_transactions.copy()
test_dataset

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,P-1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,U-520088904,S-4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,P-5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,U-530496790,S-8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,P-3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,U-518085591,S-3bfb58cd-7892-48cc-8020-2f17e6de6e7f
3,2019-11-01 00:00:01 UTC,view,P-1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,U-558856683,S-313628f1-68b8-460d-84f6-cec7a8796ef2
4,2019-11-01 00:00:01 UTC,view,P-1306894,2053013558920217191,computers.notebook,hp,360.09,U-520772685,S-816a59f3-f5ae-4ccd-9b23-82aa8c23d33c
...,...,...,...,...,...,...,...,...,...
68650179,2019-10-31 23:59:58 UTC,view,P-1004870,2053013555631882655,electronics.smartphone,samsung,275.25,U-518956209,S-6764041a-9285-4869-8a32-a79adf31d212
68650180,2019-10-31 23:59:58 UTC,view,P-2702331,2053013563911439225,appliances.kitchen.refrigerators,lg,527.43,U-524356542,S-153f9818-4d32-4e8b-ba9f-f355094e8ae4
68650181,2019-10-31 23:59:58 UTC,view,P-2300275,2053013560530830019,electronics.camera.video,gopro,527.40,U-537931532,S-22c57267-da98-4f28-9a9c-18bb5b385193
68650182,2019-10-31 23:59:58 UTC,view,P-5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,U-566280422,S-05b6c62b-992f-4e8e-91f7-961bcb4719cd
68650183,2019-10-31 23:59:59 UTC,view,P-21407424,2053013561579406073,electronics.clocks,tissot,689.85,U-513118352,S-4c14bf2a-2820-4504-929d-046356a5a204

In [28]:
users = dataset.users
users

,relevant_items,n_relevant,validation_n_relevant,train_n_relevant,validation_relevant_items,train_relevant_items
user_id,,,,,,
U-107837897,"[P-4700199, P-4700419, P-4700557]",3,0,3,[],"[P-4700199, P-4700419, P-4700557]"
U-126150271,[P-26900069],1,0,1,[],[P-26900069]
U-128968633,"[P-1004888, P-21401209]",2,0,2,[],"[P-1004888, P-21401209]"
U-149269892,[P-3701081],1,0,1,[],[P-3701081]
U-154128341,[P-11700129],1,0,1,[],[P-11700129]
...,...,...,...,...,...,...
U-579966375,[P-1004856],1,0,1,[],[P-1004856]
U-579967058,[P-1004856],1,0,1,[],[P-1004856]
U-579967455,[P-1004767],1,0,1,[],[P-1004767]
U-74383042,[P-30901102],1,0,1,[],[P-30901102]
U-94566147,[P-1005007],1,0,1,[],[P-1005007]

In [35]:
test_dataset['cut'] = test_dataset.apply(lambda row: row['product_id'] in users.loc[row['user_id'],'train_relevant_items'],axis=1)

In [32]:
def _get_users( train_test_split: float) -> pd.DataFrame:
    users = dataset.all_transactions.groupby('user_id').agg(
        relevant_items=('product_id', lambda x: list(x.drop_duplicates()))
    )
    users['n_relevant'] = users['relevant_items'].apply(len)
    users['validation_n_relevant'] = (
        train_test_split * users['n_relevant']
    ).astype(int)
    users['train_n_relevant'] = users['n_relevant'] - users['validation_n_relevant']
    users[['validation_relevant_items', 'train_relevant_items']] = users.apply(
        lambda row: (
            row['relevant_items'][: row['validation_n_relevant']],
            row['relevant_items'][row['validation_n_relevant'] :],
        ),
        axis=1,
        result_type='expand',
    )
    return users

In [33]:
users = _get_users(0.2)

In [34]:
users

,relevant_items,n_relevant,validation_n_relevant,train_n_relevant,validation_relevant_items,train_relevant_items
user_id,,,,,,
U-106416780,"[P-2500141, P-2501450]",2,0,2,[],"[P-2500141, P-2501450]"
U-107020671,"[P-6000004, P-6000120]",2,0,2,[],"[P-6000004, P-6000120]"
U-107837897,"[P-6100190, P-4700199, P-4700605, P-4700419, P...",8,1,7,[P-6100190],"[P-4700199, P-4700605, P-4700419, P-4700557, P..."
U-111805635,"[P-6000205, P-5701037]",2,0,2,[],"[P-6000205, P-5701037]"
U-116566414,"[P-2702590, P-2702086, P-2702521, P-2701889, P...",14,2,12,"[P-2702590, P-2702086]","[P-2702521, P-2701889, P-2702522, P-2701845, P..."
...,...,...,...,...,...,...
U-74383042,"[P-6400344, P-30900030, P-30901135, P-30901102...",8,1,7,[P-6400344],"[P-30900030, P-30901135, P-30901102, P-3090105..."
U-88309646,[P-1003906],1,0,1,[],[P-1003906]
U-94566147,"[P-1005007, P-1005256, P-1005066, P-1005008, P...",6,1,5,[P-1005007],"[P-1005256, P-1005066, P-1005008, P-1004905, P..."
U-94584874,[P-1004740],1,0,1,[],[P-1004740]
U-96041329,"[P-5100678, P-5100674, P-5100849, P-5100328, P...",22,4,18,"[P-5100678, P-5100674, P-5100849, P-5100328]","[P-5100581, P-5100676, P-5100850, P-5100721, P..."

In [36]:
test_dataset

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cut
0,2019-11-01 00:00:00 UTC,view,P-1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,U-520088904,S-4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,False
1,2019-11-01 00:00:00 UTC,view,P-5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,U-530496790,S-8e5f4f83-366c-4f70-860e-ca7417414283,True
2,2019-11-01 00:00:01 UTC,view,P-3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,U-518085591,S-3bfb58cd-7892-48cc-8020-2f17e6de6e7f,False
3,2019-11-01 00:00:01 UTC,view,P-1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,U-558856683,S-313628f1-68b8-460d-84f6-cec7a8796ef2,True
4,2019-11-01 00:00:01 UTC,view,P-1306894,2053013558920217191,computers.notebook,hp,360.09,U-520772685,S-816a59f3-f5ae-4ccd-9b23-82aa8c23d33c,False
...,...,...,...,...,...,...,...,...,...,...
68650179,2019-10-31 23:59:58 UTC,view,P-1004870,2053013555631882655,electronics.smartphone,samsung,275.25,U-518956209,S-6764041a-9285-4869-8a32-a79adf31d212,True
68650180,2019-10-31 23:59:58 UTC,view,P-2702331,2053013563911439225,appliances.kitchen.refrigerators,lg,527.43,U-524356542,S-153f9818-4d32-4e8b-ba9f-f355094e8ae4,True
68650181,2019-10-31 23:59:58 UTC,view,P-2300275,2053013560530830019,electronics.camera.video,gopro,527.40,U-537931532,S-22c57267-da98-4f28-9a9c-18bb5b385193,True
68650182,2019-10-31 23:59:58 UTC,view,P-5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,U-566280422,S-05b6c62b-992f-4e8e-91f7-961bcb4719cd,True
68650183,2019-10-31 23:59:59 UTC,view,P-21407424,2053013561579406073,electronics.clocks,tissot,689.85,U-513118352,S-4c14bf2a-2820-4504-929d-046356a5a204,True

In [37]:
training_transactions = test_dataset[test_dataset['cut']]

In [38]:
with open('/Users/josean/Desktop/Playground/recommender-systems/data/shopping/training_transactions.pickle','wb') as file:
    pickle.dump(training_transactions,file)

In [39]:
training_transactions.to_parquet('/Users/josean/Desktop/Playground/recommender-systems/data/shopping/training_transactions.parquet.gzip',compression='gzip')

In [40]:
users.to_parquet('/Users/josean/Desktop/Playground/recommender-systems/data/aux/users.parquet.gzip',compression='gzip')

In [43]:
df = pd.read_parquet('/Users/josean/Desktop/Playground/recommender-systems/data/shopping/e-commerce_smaller.parquet.gzip')

In [44]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
22160310,2019-11-16 10:07:21 UTC,view,1200617,2172371436436455782,electronics.tablet,samsung,141.55,512931539,db95ff7e-fa76-4cd0-8c5a-b93c87a6d33e
66397746,2019-10-29 01:13:07 UTC,view,1004741,2053013555631882655,electronics.smartphone,xiaomi,189.97,521316563,68e41083-d7c2-4557-9028-ae6937e44c15
2298269,2019-11-03 10:41:56 UTC,view,1307379,2053013558920217191,computers.notebook,asus,385.85,544060979,4851e85d-0c6e-4d83-b1b1-8d6c8e8584ee
926980,2019-11-02 02:33:13 UTC,view,45600889,2116907524295753813,apparel.shoes.keds,pablosky,63.06,537501464,379a7fb2-5f9a-4de9-bb1d-414f454e5196
54355223,2019-10-15 13:46:53 UTC,view,1002544,2053013555631882655,electronics.smartphone,apple,460.31,551716606,b14bb162-d599-4353-8c3b-9d588094f166
...,...,...,...,...,...,...,...,...,...
44128392,2019-10-03 15:33:51 UTC,view,28713300,2053013565782098913,apparel.shoes,rieker,71.82,542686309,8bdd02e9-1436-41dd-8430-f7579fb43649
49314534,2019-10-10 04:00:27 UTC,view,4900330,2053013555220840837,appliances.kitchen.juicer,vitek,61.70,552627671,8a436d25-0532-433f-9800-422ce5f2427f
2696822,2019-11-03 18:06:54 UTC,view,1005239,2053013555631882655,electronics.smartphone,xiaomi,275.17,519053555,3679b037-aca6-4dd4-8b73-3f988282c67f
53941253,2019-10-15 06:38:59 UTC,view,1005163,2053013555631882655,electronics.smartphone,xiaomi,294.67,538992383,ee616065-162d-4bd4-b23d-aa35a6ba6102
56365335,2019-10-17 15:25:52 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,172.14,542115521,3f53e2fd-63cc-4b1c-a559-64aba2621196

In [46]:
with open('/Users/josean/Desktop/Playground/recommender-systems/data/shopping/e-commerce_dataset.pickle', 'rb') as file:
    print('Reading file...')
    new_dataset: DataSet = pickle.load(file)

Reading file...